$lmain: #e84c0994;
$main: #e84c09;
$hmain: #f74f07;
$lalt: #e4a81192;
$alt: #e4a811;
$halt: #f7b409;

$lred: #ee7777;
$red: #ee1111;
$orange: #ee7711;
$pink: #ee1177;
$gold: gold;
$lblue: #7777ee;
$blue: #1177ee;
$dblue: #111166;
$blueviolet: #7711ee;
$lgreen: #77ee11;
$green: #117711;
$bcg: #eeeef2;
$grey: #777777;
$pColor: #bbbbbb;
$black: #222;